Include ~/.ssh/config.d/*

Host *
  IdentityFile ~/.ssh/mamahoos
  IdentitiesOnly yes
  PubkeyAuthentication yes

Host edge-bastion
  HostName 203.0.113.10
  User debian

Host personal-server
  HostName 198.51.100.20
  User root
Include ~/.ssh/config.d/*

Host *
  IdentityFile ~/.ssh/mamahoos
  IdentitiesOnly yes
  PubkeyAuthentication yes

Host production-server
  HostName 203.0.113.10
  User ubuntu

Host personal-server
  HostName 198.51.100.20
  User root
