[user]
    name    = mamahoos
    email   = m4m4hoos@gmail.com
    signkey = 36ECB76080BA15C0BF93CC93B083DC8105E593AE # gitleaks:allow

[commit]
    gpgSign = true
[tag]
    gpgSign = true

[gpg]
    program = /usr/bin/gpg

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default         = current
    autoSetupRemote = true
    followTags      = true

[fetch]
    prune = true

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true

[diff]
    algorithm  = histogram
    colorMoved = default

[core]
    editor   = nvim
    pager    = less -FRX
    autocrlf = input

[color]
    ui     = auto
    branch = auto
    diff   = auto
    status = auto

[help]
    autocorrect = prompt
    pager       = batcat --paging=always

[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

[alias]
    aliases  = config --get-regexp '^alias.'
    lg       = log --graph --decorate --oneline --all
    last     = log -1 HEAD
    unstage  = restore --staged
    root     = rev-parse --show-toplevel
    head     = "!f() { git rev-parse \"$@\" HEAD; }; f"	
    unpushed = log @{u}..HEAD --oneline
    unpulled = log HEAD..@{u} --oneline
    staged   = diff --cached
