[user]
    name  = mamahoos
    email = m4m4hoos@gmail.com

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default         = current
    autoSetupRemote = true
    followTags      = true

[fetch]
    prune = true

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true

[diff]
    algorithm  = histogram
    colorMoved = default

[core]
    editor   = nvim
    pager    = less -FRX
    autocrlf = input

[color]
    ui     = auto
    branch = auto
    diff   = auto
    status = auto

[help]
    autocorrect = prompt

[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

[alias]
    aliases = config --get-regexp '^alias.'
    lg      = log --graph --decorate --oneline --all
    last    = log -1 HEAD
    unstage = restore --staged
    root    = rev-parse --show-toplevel
    head    = rev-parse HEAD
