[user]
    name    = mamahoos
    email   = m4m4hoos@gmail.com
    # signing key: ~/.gnupg/gpg.conf default-key
    signingkey = 36ECB76080BA15C0BF93CC93B083DC8105E593AE   # gitleaks:allow

[sendemail]
    smtpServer     = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser       = m4m4hoos@gmail.com
    from           = mamahoos <m4m4hoos@gmail.com>
    confirm        = auto
    # password: Gmail App Password via git credential / libsecret (do not store here)

[commit]
    gpgSign  = true
    template = ~/.gitmessage
    verbose  = true

[log]
    date = relative

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    gpgSign = true
    sort    = version:refname

[gpg]
    program = /usr/bin/gpg

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default            = current
    autoSetupRemote    = true
    followTags         = true
    useForceIfIncludes = true

[fetch]
    prune = true

[merge]
    conflictStyle = zdiff3
    tool          = nvimdiff

[mergetool]
    prompt = false

[rebase]
    autoStash   = true
    autoSquash  = true
    updateRefs  = true

[rerere]
    enabled    = true
    autoUpdate = true

[diff]
    algorithm      = histogram
    colorMoved     = default
    mnemonicPrefix = true
    renames        = copies

[core]
    editor   = nvim
    pager    = less -FRX
    autocrlf = input

[color]
    ui     = auto
    branch = auto
    diff   = auto
    status = auto

[help]
    autocorrect = prompt
    pager       = batcat --paging=always

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

[alias]
    aliases  = config --get-regexp '^alias.'
    lg       = log --graph --decorate --oneline --all
    last     = log -1 HEAD

    root     = rev-parse --show-toplevel
    head     = "!f() { git rev-parse \"$@\" HEAD; }; f"

    unstage  = restore --staged
    staged   = diff --cached
    amend    = commit --amend --no-edit
    purge    = !git restore --source=HEAD --staged --worktree :/ && git clean -fd

    unpushed = log @{u}..HEAD --oneline
    unpulled = log HEAD..@{u} --oneline

    zip      = archive --format=zip --output