Host edge-bastion
  HostName 203.0.113.11
  User debian
  ForwardAgent yes

Host webinar-server
  HostName 203.0.113.12
  User root

Host git.example.com
  HostName 203.0.113.11
  Port 2223

Host project-*-vm
  User debian
  ProxyJump edge-bastion

Host project-vcenter-vm
  HostName 192.168.100.2

Host project-keycloak-vm
  HostName 192.168.100.11

Host project-gitlab-vm
  HostName 192.168.100.30
