Host org-edge
  HostName 203.0.113.11
  User debian
  ForwardAgent yes

Host org-webinar
  HostName 203.0.113.12
  User root

Host git.example.com
  HostName 203.0.113.11
  Port 2223

Host org-*-vm
  User debian
  ProxyJump org-edge

Host org-vcenter-vm
  HostName 192.168.100.2

Host org-keycloak-vm
  HostName 192.168.100.11

Host org-gitlab-vm
  HostName 192.168.100.30
